src/main/app/docroot/*
.project
.settings/*
.studio/*
*.DS_Store
*.log
*.class
.mule
.classpath
dgw-mysql/.classpath
dgw-mysql/.project
dgw-mysql/*.class
dgw-mysql/.mule
dgw-mysql/target
dgw-mysql/target/*
dgw-mysql/bin
dgw-mysql/bin/*
dgw-workday/.classpath
dgw-workday/.project
dgw-workday/*.class
dgw-workday/.mule
dgw-workday/target
dgw-workday/target/*
dgw-workday/bin
dgw-workday/bin/*
**/.classpath
**/target/*
**/bin/*
*/target/*
*/bin/*

